div.space, div.space-1, div.space-2, div.space-3, div.space-4 {
  width: 100%;
  height: 10px;
  opacity: 0;
}

div.space-2 {
  height: 20px;
}

div.space-3 {
  height: 30px;
}

div.space-4 {
  height: 40px;
}
