.content-base {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.body-container {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 60px;
  bottom: 0;
  overflow: hidden;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.body-container.menu-open {
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  transform: translateX(270px);
  -moz-transform: translateX(270px);
  -o-transform: translateX(270px);
}

.body-container.menu-open.on-flow >div >div{
  pointer-events: none;
}

.body-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.scroll-content{
  height: 100%;
}