.text-logo {
  display: table-row;
  line-height: 47px;
  height: 47px;
  padding-top: 3px;

  >span {
    font-size: 32px;
    line-height: 47px;
    letter-spacing: 2px;
    padding: 0 10px;
    clear: both;
  }
}

.img-logo {
  display: table-row;
  height: 60px;

  >img {
    width: auto;
    height: 60px;
  }
}

.header-block {
  display: table-row;
  position: relative;

  .cta:first-child {
    display: table-cell;
    width: 160px;
    line-height: 50px;
    height: 60px;
    padding: 0 10px;
    vertical-align: middle;

    span {
      float: left;
      font-size: 12px;
      line-height: 15px;
      padding: 2px 4px 0;
      margin-bottom: 2px;
      border-radius: 2px;
      font-weight: bold;
      clear: both;
    }
  
    span:first-child {
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 2px;
      padding: 2px 0 0;
    }
  }
}

.right-cta-icon {
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  float: right;
  
  .stag-ico{
    line-height: 60px;
    font-size: 24px;
    padding: 3px;
    margin: 0 3px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

.notification.active {
  -webkit-animation: ring_ring .5s ease infinite;
          animation: ring_ring .5s ease infinite;
}

@-webkit-keyframes ring_ring{
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg)}
  5% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg)}
  15% { -webkit-transform: rotate(10deg); transform: rotate(10deg)}
  35% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg)}
  55% { -webkit-transform: rotate(10deg); transform: rotate(10deg)}
  65% { -webkit-transform: rotate(0deg); transform: rotate(0deg)}
}

@keyframes ring_ring{
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg)}
  5% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg)}
  15% { -webkit-transform: rotate(10deg); transform: rotate(10deg)}
  35% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg)}
  55% { -webkit-transform: rotate(10deg); transform: rotate(10deg)}
  65% { -webkit-transform: rotate(0deg); transform: rotate(0deg)}
}
