header{
  // Dropdown Collapsed
  .dropdown-block{
    cursor: pointer;
    background-color: inherit;
    transition: all 0.2s;
  
    .dropdown{
      position: absolute;
      width: 290px;
      right: -160px;
      opacity: 0;
      text-align: left;
      padding: 10px;
      pointer-events: none;
      border-radius: 0 0 2px 2px;
      cursor: pointer;
      z-index: -99;
      -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
              box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
      transition: all 0.2s;

      td:first-child{
        width: 50px;

        span{
          position: relative;
          display: inline-block;
          width: 30px;
          height: 30px;
          padding: 0;
          font-size: 16px;
          font-weight: bold;
          line-height: 30px;
          text-align: center;
          border-radius: 30px;
          color: #888;
          box-shadow: 0 0 0 2px;
        }
      }

      .alert {
        span:after{
          content: "";
          color: inherit;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 100%;
          box-shadow: 0 0 0 2px;
          animation: pulse 0.6s infinite;
        }
      }

      .alert td:first-child span{
        color: #00ACC1;
      }

      .stag-ico, a{
        color: #fff;
      }

      a{
        display: block;
      }
      a:hover{
        text-decoration: none;
      }
    }
  }

  .dropdown-block.last-dd .dropdown{
    right: 0;
    padding: 10px 0;
    width: 160px;

    a{
      padding: 10px;
    }
  }

  // Dropdown Hovered
  .dropdown-block:hover, .dropdown-block:active, .dropdown-block:focus {
    transition: all 0.2s;
  
    .dropdown{
      opacity: 1;
      pointer-events: all;
      transition: all 0.2s;
    }
  }
}

@keyframes pulse{
  0%, 50%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(1.5);
  }
}

@media (max-width: 720px){
  header .dropdown-block .dropdown{
    right: 0;
  }
}