html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li {
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 38px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}