body,
html {
  max-width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

::-moz-selection {
  background: #FFCC00;
}

::selection {
  background: #FFCC00;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.link{
  cursor: pointer;
}

.un-selectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

div#swipe-h {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  z-index: 999;
}

h1.page-header {
  position: relative;
  height: auto;
  overflow: auto;
  
  >span{
    float: left;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
  }
  >span.cta {
    float: left;
    position: relative;
    font-size: 16px;
    line-height: 36px;
    margin: 2px;
    margin-left: 20px;
    padding: 0 20px 0 0;
    letter-spacing: .5px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;

    >i {
      float: left;
      padding: 10px 10px 10px 14px;
      margin-right: 7px;
    }
  }

  >span.cta.first{
    margin-left: 0px;
    margin-right: 20px;
  }

  >span.cta.disabled {
    opacity: 0.2;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    pointer-events: none;
  }

  >span.refresh, >span.back {
    float: left;
    position: relative;
    font-size: 24px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    margin: 2px;
    margin-left: 5px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;

    >i {
      float: left;
      padding: 6px;
    }
  }

  >span.back {
    margin-left: 0;
    margin-right: 10px;
    font-size: 20px;

    >i {
      float: left;
      padding: 8px;
    }
  }
}


.alerts-list {
  position: relative;
}


.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}