// =========================================================
// Font Styling
// =========================================================
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
.h1 {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}


.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}
