.block-loading{
  position: relative;
  height: 50px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;

  >div{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;

    background: rgba(0,0,0,0.05);
    background: -moz-linear-gradient(left, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0.05) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.05)), color-stop(40%, rgba(0,0,0,0.05)), color-stop(50%, rgba(0,0,0,0.2)), color-stop(60%, rgba(0,0,0,0.05)), color-stop(100%, rgba(0,0,0,0.05)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0.05) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0.05) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0.05) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0.05) 100%);

    background-size: 200%;

    -webkit-animation: bg-animation 1.6s linear infinite reverse;
    animation: bg-animation 1.6s linear infinite reverse;
  }
}

.block-loading.dark{
  >div{
    background: rgba(255,255,255,0.02);
    background: -moz-linear-gradient(left, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 40%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.02) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.02)), color-stop(40%, rgba(255,255,255,0.02)), color-stop(50%, rgba(255,255,255,0.2)), color-stop(60%, rgba(255,255,255,0.02)), color-stop(100%, rgba(255,255,255,0.02)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 40%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.02) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 40%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.02) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 40%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.02) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 40%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.02) 100%);

    background-size: 200%;
  }
}

@media (max-width: 500px){
  .block-loading >div{
    -webkit-animation: bg-animation 0.4s linear infinite reverse;
    animation: bg-animation 0.4s linear infinite reverse;
  }
}


@media (max-width: 1000px){
  .block-loading >div{
    -webkit-animation: bg-animation .8s linear infinite reverse;
    animation: bg-animation 0.8s linear infinite reverse;
  }
}

@media (max-width: 1500px){
  .block-loading >div{
    -webkit-animation: bg-animation 1.2s linear infinite reverse;
    animation: bg-animation 1.2s linear infinite reverse;
  }
}
