.update-icons {
  text-align: center;
  padding: 20px;
  
  >span{
    display: inline-block;
    font-size: 60px;
    padding: 10px;
    background-color: #78C257;
    color: #fff;
    border-radius: 80px;
  }

  .stag-icon-error-solid{
    background-color: #00ACC1;
  }
}
