.widget-body {
  position: relative;
  height: auto;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.15), -1px 1px 2px rgba(0,0,0,0.15);
  overflow: hidden;

  .header {
    border-bottom: 1px solid #e7e7e7;
    cursor: move;

    >h2{
      line-height: 50px;
      font-size: 19px;
    }

    >.stag-ico{
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      padding: 15px;
      color: #666;
      cursor: pointer;
    }
  }

  .body{

  }
}

.widget.empty{
  min-height: 50px;
}

.widget.empty::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 100%;
  border: 2px dashed #c7c7c7;
  border-radius: 4px;
}


.icon-header-title.text-center.my-4 > div {
  display: inline-block;
  position: relative;
  
  > span {
    float: left;font-size: 40px;line-height: 50px;padding: 0 10px;
  }

  > h3 {
    display: inline-block;
    line-height: 50px;
  }
}
