.cyz-alert {
  border: 1px solid #EEEEEE;
  padding: 10px;
  border-radius: 4px;
}

.cyz-alert.success {
  border-left: 5px solid #4cce6b;
  background-color: rgba(76, 206, 106, 0.1);
}

.cyz-alert.danger {
  border-left: 5px solid #F44336;
  background-color: rgba(244, 67, 54, 0.1);
}

.alert-table {
  >table {
    width: 100%;
    
    td:first-child{
      width: 60px;
      text-align: center;
    }

    .stag-ico {
      font-size: 40px;
    }
  }
}
