.fixed-block {
  position: relative;
  height: auto;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.15), -1px 1px 2px rgba(0,0,0,0.15);
  overflow: hidden;

  .header {
    border-bottom: 1px solid #e7e7e7;

    >h2{
      line-height: 50px;
      font-size: 19px;
    }
  }
}

.tabbed{
  .header{
    border-bottom: 0;
  }

  .header-tabs{
    position: relative;
    height: auto;
    overflow: auto;
    border-bottom: 1px solid #e7e7e7;

    >a{
      float: left;
      padding: 10px 20px;
    }
  }
}

.tabbed-body{
  >div{
    display: none;
    opacity: 0;
  }
  >div.active{
    display: block;
  }
}


.fixed-block {
  position: relative;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15), -1px 1px 2px rgba(0, 0, 0, 0.15);
}


.table-list-select {
  .table-list-box {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    table {
      max-width: 100%;
      border-radius: 4px;
      border: 1px solid #ddd;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.1), -1px 1px 2px rgba(0,0,0,0.1); 
      cursor: pointer;

      .stag-icon {
        font-size: 40px;
      }
    }
    table.selected{
      background-color: #CEE7CF;
      border: 1px solid #b2d2b3;
    }
  }
}


.sb-head {
  height: 100px;
  border-bottom: 1px solid #e7e7e7;

  .ch-prev,
  .ch-next {
    text-align: center;

    span {
      line-height: 100px;
      font-size: 20px;
    }
  }

  >div .slick-slide div {
    height: 100%;
  
    h2 {
      line-height: 100px;
      text-align: center;
    }
  }
}


.sb-content {
  padding-bottom: 75px;

  .max-800{
    max-width: 800px;
    margin: 0 auto;
  }

  .cbc-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ddd;
    background-color: #eee;
  }  
}
