.update-icons {
  text-align: center;
  padding: 20px;
  
  >span{
    display: inline-block;
    font-size: 60px;
    padding: 10px;
    background-color: #78C257;
    color: #fff;
    border-radius: 80px;
  }

  .stag-icon-error-solid{
    background-color: #00ACC1;
  }
}

.dropzone {
  border: 2px dashed rgba(0,0,0,0.2) !important;
  border-radius: 4px;
}