.stag-check-list {
    list-style: none;
    padding-left: 60px;

    li {
        display: block;
        position: relative;
        margin: 0;
        padding: 13px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    li:last-child {
        border: none;
    }

    .checked::before,
    .error::before {
        position: absolute;
        width: 50px;
        height: 50px;
        line-height: 50px;
        left: -60px;
        top: 0;
        font-family: 'StagPHP' !important;
        font-size: 24px;
        text-align: center;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .checked::before {
        opacity: 0;
        content: "\e973";
        color: #78C257;
    }

    .error::before {
        opacity: 0;
        content: "\e92c";
        color: #C0392B;
    }

    .spinner-removed::before{
        opacity: 1;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
    }

    .error{
        color: #C0392B;
    }
}

.spinner{
    position: absolute;
    display: inline-block;
    left: -60px;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 46px;
    font-size: 24px;
    text-align: center;
    opacity: 1;
    -webkit-animation: 2s rotate infinite linear;
            animation: 2s rotate infinite linear;
}

.spinner circle {
    fill: transparent;
    stroke: #00ACC1;
    stroke-width: 0.1em;
    stroke-linecap: round;
    stroke-dasharray: 2.3525em 0.4705em;
    -webkit-animation: 1.5s stroke-dash infinite linear;
            animation: 1.5s stroke-dash infinite linear;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes stroke-dash {
    from {
        stroke-dasharray: 2.3525em 0.4705em;
        stroke-dashoffset: 0;
    }

    10% {
        stroke-dasharray: 2.3525em 0.4705em;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 0.001em 2.825em;
        stroke-dashoffset: -2.826em;
    }

    60% {
        stroke-dasharray: 0.001em 2.825em;
    }

    to {
        stroke-dasharray: 2.3525em 0.4705em;
        stroke-dashoffset: -2.826em;
    }
}

@keyframes stroke-dash {
    from {
        stroke-dasharray: 2.3525em 0.4705em;
        stroke-dashoffset: 0;
    }

    10% {
        stroke-dasharray: 2.3525em 0.4705em;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 0.001em 2.825em;
        stroke-dashoffset: -2.826em;
    }

    60% {
        stroke-dasharray: 0.001em 2.825em;
    }

    to {
        stroke-dasharray: 2.3525em 0.4705em;
        stroke-dashoffset: -2.826em;
    }
}